[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    align-items: center;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    position: relative;
    z-index: 3;
  }

  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    margin-right: 4px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: 0.3s transform;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 2;
    padding: 60px 0 20px 0;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .js [data-menu="list"].active {
    display: block;
    animation: show-right 0.3s forwards;
  }

  .js .dropdown-menu {
    position: static;
    border: none;
  }

  [data-dropdown] .dropdown-menu {
    display: block;
    animation: none;
  }

  [data-dropdown]:hover .dropdown-menu,
  [data-dropdown].active .dropdown-menu {
    display: block;
    animation: none;
  }

  .dropdown-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e54;

    /* OUTRA FORMA DE FAZER
    width: 15px;
    height: 15px;
    border: 2px solid #222;
    border-right: transparent;
    border-bottom: transparent;
    background: #e54;
    transform: rotate(45deg); */
  }
}
